header {
  height: 10vh;
  background-color: #ebedf1;
  color:  rgb(125, 159, 139);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0 5%; }
  header ul {
    display: flex;
    gap: 1rem;
    align-items: center; }
  header li {
    display: flex;
    gap: 1rem; }
  header a {
    list-style: none;
    color: #0044d4;
    background-color: white;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500; }
