

<footer>
  <h4> <img src="/images/csv-logo.png" alt="" width="50px">
    Upload</h4>
  <p>All Rights are reserved by @mahadevmohite</p>
  <div class="footer-links">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="/" target="_blank" ><i class="fa-brands fa-github"></i></a>
    
  </div>
</footer>